body {
    background-color: #464646;
}
header {
    border-bottom: 0.188em dotted #20eaec;
    box-shadow: 0 0.063em 0.063em rgba(0, 0, 0, 0.4);
    height: 6.875em;
    left: 0;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 666;
    background-color: #464646;
}
nav {
    color: white;
    height: 130px;
    margin: auto;
    width: 1000px;
    font-family:'Signika', sans-serif;
}
nav ul {
    color: white;
    float: right;
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
    width: 700px;
    word-spacing: 40px;
}
nav li {
    display: inline;
}
nav li a {
    color: white;
}
a:link {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #6c71b1;
}
#logo {
    clear: both;
    display: block;
    float: left;
    margin: 0.750em 0 0;
    width: 15.625em;
}
ol, ul {
    list-style: outside none none;
}
article.home {
    padding-top: 8.125em;
    clear: right;
}
article.home h1 {
    font-family:'Signika', sans-serif;
    font-size: 2.2em;
    color: red;
    text-align: center;
}
img.homeimage {
    text-align: center;
    max-width: 45em;
    margin: auto;
    padding: auto;
    display: block;
}
img.homeimage:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
#about {
    padding-top: 8.125em;
}
.tekst {
    width: 90%;
    margin: auto;
    text-align: justify;
    clear: right;
}
img.imgovermij {
    height:auto;
    width:auto;
    margin-left: 3em;
    margin-top: -3em;
    max-width: 25em;
    max-height: 25em;
    clear: right;
    box-shadow: 0 0 0.125em #111;
    float: right;
}
.text {
    background:#FFF;
    opacity:0;
    height: 340px;
}
.imgovermij:hover .text {
    margin-top: -20em;
    max-width: 13.6em;
    max-height: 25em;
    clear: right;
    float: right;
    opacity:0.6;
    text-align:center;
    color:#000000;
    font-size:20px;
    font-weight:500;
    font-family:'Signika', sans-serif;
    padding:30px;
}
#fotos {
    padding-top: 10em;
}
#fotografie {
    padding-top: 10em;
}
#contact {
    padding-top: 10em;
    padding-left: 2em;
}
#links {
    padding-top: 10em;
}
article {
    display: inline-block;
    height: 100%;
    margin: auto;
    min-height: 34.375em;
    min-width: 64.000em;
    width: 100%;
}
article p {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 20px;
}
.kader1 {
    width: 62.500em;
    height: 12.500em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.188em solid;
    margin-top: 2em;
}
.logo {
    text-align: center;
    margin-top: 1.5em;
    margin-left: 16em;
}
.kader2 {
    width: 50.000em;
    height: auto;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.188em solid;
    margin-top: 1em;
    border-color: #b0c6db;
}
p {
    color: white;
    margin-left: 1em;
    margin-bottom: 1em;
    font-family:'Signika', sans-serif;
    font-size: 0.875em;
}
h1 {
    font-family:'Signika', sans-serif;
    font-size: 2.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: white;
}
button {
    float: right;
    clear: right;
}

.fotos img, .fotografie img {
    position: absolute;
    width:800px;
    height:450px;
    left:50%;
    margin-left:-400px;
}
.social-icons {
    max-width: 980px;
    margin: 0 auto;
}
.icon {
    float: left;
    position: relative;
    margin: 0 auto;
    width: 19%;
    height: 0;
    margin: 15% 2%;
    font-family: 'Signika';
}
@media all and (min-width: 640px) {
    .icon {
        width: 9%;
        padding-bottom: 9%;
    }
}
.icon:last-of-type {
    margin-right: 0;
}
.icon a {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.icon a:hover {
    background-color: #6d8aa8;
    background-size: 0%;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.icon__name {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -7px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    -webkit-filter: blur(25px);
    filter: blur(25px);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.icon:hover .icon__name {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}
.icon--linkedin a {
    background-color: transparent;;
    background-image: url("fotos/linkedin.png");
}
.icon--facebook a {
    background-color: transparent;
    background-image: url("fotos/facebook.png");
}
.icon--instagram a {
    background-color: transparent;
    background-image: url("fotos/instagram.png");
}
.icon--flickr a {
    background-color: transparent;
    background-image: url("fotos/flickr.png");
}
.icon--youtube a {
    background-color: transparent;
    background-image: url("fotos/youtube.png");
}